@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(30deg, #d3cce3, #e9e4f0);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.card-form {
  height: 100vh;
}

.bg-form {
  background-color: white;
  padding: 2em;
}

.ph-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  width: 8vw;
  background: #e9e4f0;
}
